@import url("vue-fullpage.js/dist/style.css");
@font-face {
  font-family: poppins;
  src: url(/font/Poppins-Bold.ttf) format(truetype);
}
@font-face {
  font-family: shabnam;
  src: url(/font/Shabnam-FD.ttf) format(truetype);
}
* {
  @apply !max-w-[100vw];
}
body {
  @apply m-0 max-w-[100vw] overflow-hidden p-0 [direction:rtl];
  font-family: shabnam;
}
::-webkit-scrollbar {
  @apply hidden;
}
.before {
  @apply relative before:absolute before:h-[100%] before:w-[100%] before:rounded-3xl before:border-2 before:border-white;
}
.swiper-button-prev,
.swiper-button-next {
  @apply !text-main;
}
.fp-watermark {
  @apply invisible;
}
