@import url("vue-fullpage.js/dist/style.css");
@font-face {
  font-family: poppins;
  src: url(/font/Poppins-Bold.ttf) format(truetype);
}
@font-face {
  font-family: shabnam;
  src: url(/font/Shabnam-FD.ttf) format(truetype);
}
body {
  @apply [direction:rtl];
  font-family: shabnam;
}
::-webkit-scrollbar {
  @apply hidden;
}
.before {
  @apply relative before:absolute before:h-[100%] before:w-[100%] before:rounded-3xl before:border-2 before:border-white;
}
.section-container {
  @apply bg-secondary relative min-h-screen overflow-hidden lg:h-screen;
}
.skeleton {
  @apply animate-pulse rounded-xl bg-gray-400/65;
}
.swiper-button-prev,
.swiper-button-next {
  @apply !text-main;
}
.fp-watermark {
  @apply invisible;
}
.section.active .property-container {
  animation: float-left 250ms ease-in 1 forwards;
}
.section.active .property-container:nth-child(2) {
  animation-delay: 200ms;
}
.section.active .property-container:nth-child(3) {
  animation-delay: 400ms;
}
.section.active .property-container:nth-child(4) {
  animation-delay: 600ms;
}
@keyframes float-left {
  from {
    transform: translateX(400px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
