@import url("vue-fullpage.js/dist/style.css");
@font-face {
    font-family: poppins;
    src: url(/font/Poppins-Bold.ttf) format(truetype);
}
@font-face {
    font-family: shabnam;
    src: url(/font/Shabnam-FD.ttf) format(truetype);
}
body {
    @apply bg-secondary [direction:rtl];
    font-family: shabnam;
}
::-webkit-scrollbar {
    @apply hidden;
}
.before {
    @apply relative before:absolute before:h-[100%] before:w-[100%] before:rounded-3xl before:border-2 before:border-white;
}
.section-container {
    @apply relative min-h-screen overflow-hidden bg-secondary;
}
.skeleton {
    @apply animate-pulse rounded-xl bg-gray-400/65;
}
.fp-watermark {
    @apply invisible;
}
.property-container {
    animation: float-left 250ms ease-in 1 forwards;
}
.property-container:nth-child(2) {
    animation-delay: 200ms;
}
.property-container:nth-child(3) {
    animation-delay: 400ms;
}
.property-container:nth-child(4) {
    animation-delay: 600ms;
}
@keyframes float-left {
    from {
        transform: translateX(400px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* swiper customization  */
.swiper-button-prev,
.swiper-button-next {
    @apply !hidden !text-main lg:hidden;
}
.swiper-pagination {
    @apply !-bottom-0 flex justify-center gap-2 lg:!bottom-2;
}
.dot-navigation {
    @apply size-3.5 rounded-full bg-white shadow-lg;
}
.active-dot-navigation {
    @apply !bg-main !opacity-100;
}
.swiper-initialized {
    @apply !overflow-y-visible;
}
